<% messages.each do |message| %>
  <% if message.user_id == current_user.id %>
  <div class="message-field my-message">
    <div class="message-user">
      <%= attachment_image_tag message.user, :profile_image, fallback: "no-image.jpg", class: "profile-image-sm" %>
      <p><%= message.user.name %></p>
    </div>
    <div class="message-text my-message">
      <p id="user-message<%= message.id %>" class="message-right"><%= simple_format message.content %></p>
    </div>
    <p class="message-date my-message"><%= message.created_at.strftime("%Y/%m/%d/%H:%M") %></p>
  </div>
  <% else %>
    <div class="message-field">
      <div class="message-user">
        <%= attachment_image_tag message.user, :profile_image, fallback: "no-image.jpg", class: "profile-image-sm" %>
        <p><%= message.user.name %></p>
      </div>
      <div class="message-text">
        <p id="user-message<%= message.id %>" class="message-left"><%= simple_format message.content %></p>
      </div>
      <p class="message-date"><%= message.created_at.strftime("%Y/%m/%d/%H:%M") %></p>
    </div>
  <% end %>
<% end %>