<div class="devise container">
  <h2>Sign up</h2>
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 form-group">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "\uf007 username",class: "far form-control" %>
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "\uf0e0 email",class: "far form-control" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "passward", class: "far form-control" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "passward", class: "far form-control" %>
        </div>
        <div class="action">
          <%= f.submit "Sign up", class: "devise-btn" %>
        </div>
      <% end %>
      <div class="link">
        <%= render "devise/shared/links" %>
      </div>
    </div>

</div>
