<div class="group container">
  <div class="row">
    <div class="col-md-5">
      <h3>
        <span>
          <%= link_to @group.category.name, category_path(@group.category) %> > 
        </span>
        <%= @group.name %>
      </h3>
      <p class="group-setting">
        <% if @group.owner_id == current_user.id %>
          <%= link_to "編集", edit_category_group_path(@group.id) %>
        <% end %>
      </p>
      <div class="group-text">
        <%= simple_format @group.introduction %>
      </div>
      <div>
        <% if @group.already_requested?(current_user)%>
        　<% if @group.group_member?(current_user)%>
          　<%= link_to "退出", group_leave_path(@group.id), method: :delete, class: "btn leave-btn" %>
          <% else %>
          　<%= link_to "申請を取り消す", group_leave_path(@group.id), method: :delete, class: "btn leave-btn" %>
        　<% end %>
        <% else %>
          <%= link_to "参加", group_join_path(@group.id), class: "btn group-in" %>
        <% end %>
      </div>
      <p>グループメンバー</p>
      <div class="member-field">
        <% @members.each do |member| %>
          <div class="box">
            <%= link_to user_path(member.user) do %>
              <%= attachment_image_tag member.user, :profile_image, fallback: "no-image.jpg", class: "profile_image" %>
              <p><%= link_to member.user.name, user_path(member.user), class: "text-dark" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <div class="messages container">
        <div id="message" class="overflow-auto">
            <div class="table">
              <%= render "messages/messages", messages: @messages %>
            </div>
        </div>
        <% if @group.group_member?(current_user)%>
          <div class="form-group">
            <%=form_with model:[@group, @message], remote:true do |f| %>
              <%= f.text_area :content, class: "form-control", rows: "5", cols: "50" %>
              <%= f.submit "送信", placeholder: "メッセージを入力してください", class: "form-control btn" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "message.js" %>