<div class="group container">
  <div class="row">
    <div class="col-md-5">
      <h3>グループ詳細</h3>
      <p class="group-setting">
        <% if @group.owner_id == current_user.id %>
          <%= link_to "編集", edit_category_group_path(@group.id) %>
        <% end %>
      </p>
      <div class="group-text">
        <%= simple_format @group.introduction %>
      </div>
      <div class="chat-field">
        <% if @group.group_member?(current_user)%>
          <%= link_to group_messages_path(@group), class: "btn chat-in" do %>
            <i class="far fa-comments"></i>
            チャットへ
          <% end %>
        　<%= link_to "退出", group_leave_path(@group.id), method: :delete, class: "btn" %>
        <% else %>
          <%= link_to "参加", group_join_path(@group.id), class: "btn chat-in" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <p>グループメンバー</p>
      <table class="table">
        <tbody>
          <%= render "users/index", users: @group.users %>
        </tbody>
      </table>
    </div>
  </div>
</div>