<div class="container">
  <% if user_signed_in? %>
  　<%= form_tag(search_path, method: :get) do %>
  　　<%= text_field_tag (:word) %>
  　　<%= hidden_field_tag 'range', 'user' %>
  　　<%= submit_tag "検索" %>
  　<% end %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <%= render "users/index", users: @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>

