<div class="users container">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <%= render "users/index", users: @users %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
    <div class="col-md-6">
      <div class="search-field">
        <% if user_signed_in? %>
        　<%= form_tag(search_path, method: :get) do %>
        　　<%= text_field_tag (:word) %>
        　　<%= hidden_field_tag 'range', 'user' %>
        　　<%= button_tag type: 'submit', class: 'btn btn-default' do %>
              <i class="fas fa-search"></i>
        　　<% end %>
        　<% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

