<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>
<h1 class="title">A-Creation</h1>
<div class="devise-navbar">
  <% unless user_signed_in? %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "nav-item" %>
    <%= link_to 'LOG IN', new_user_session_path, class: "nav-item" %>
  <% end %>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <% if @top_images.present? %>
      <% @top_images.each do |image|%>
        <div class="swiper-slide">
          <%= link_to user_path(image.user) do %>
          <%= attachment_image_tag image, :image, fallback: "no-image.jpg" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="down-arrow">
  <%= link_to "#about-field" do %>
    <p>ABOUT</p>
    <i class="fas fa-chevron-down text-secondary"></i>
  <% end %>
</div>
<div id="about-field" class="about container-fluid">
  <div class="box">
    <div class="about-text">
      <h4>A-Cretion</h4>
      <p>
        クリエイター同士で情報の発信・共有ができるSNSサイト<br>
        <br>
        AIの発展や、高度情報化・近年のコロナウイルスで社会のあり方そのものが大きく変化していく中で<br>
        新しいアイデアを目に見えるモノとしてカタチにしていく創造力は必要な力の一つとなっています。<br>
        
        多くの人が持つアイデアや知識・作品を発信することができ、<br>
        何かを生み出したいと思った時に力になる情報を得ることができる機会を通して<br>
        あらゆる人がクリエイターとして創造力の向上を目指します。<br>
        < ポートフォリオ作品 ><br>
      </p>
    </div>
  </div>
  <div class="box">
    <div class="bg"></div>
    <div class="about-text">
      <h4>POSTS</h4>
      <p>
        投稿して発信!<br>
        投稿の際にタグ付けをして、タグ検索もできるため、<br>
        興味をもってくれた人たちに作品の魅力などを伝えることができます。<br>
        あなたのアイデアや知識・作品を発信していきましょう！
      </p>
    </div>
    <% if @posts.present? %>
      <div class="posts container-fluid">
        <div class="row">
        <%= render "posts/index", posts: @posts %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box">
    <div class="bg"></div>
    <div class="about-text">
      <h4>CATEGORY</h4>
      <p>
        仲間と情報共有!<br>
        カテゴリを選択することで、グループの作成・参加をすることができます。<br>
        グループは何個でも作成できますので、<br>
        同じ分野で活動する仲間とのさまざまな話題で繋がりましょう！
      </p>
    </div>
    <% if @categories.present? %>
      <div class="categories container-fluid">
        <table class="table">
          <tbody>
            <%= render "categories/index", categories: @categories %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'loading' %>
<%= javascript_include_tag 'swiper' %>