<h1 class="title">A-Creation</h1>
<div class="devise-navbar">
  <% unless user_signed_in? %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "nav-item" %>
    <%= link_to 'LOG IN', new_user_session_path, class: "nav-item" %>
  <% end %>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <% if @top_images.nil? %>
      <% @top_images.each do |image|%>
        <div class="swiper-slide">
          <%= link_to user_path(image.user) do %>
          <%= attachment_image_tag image, :image, fallback: "no-image.jpg" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="about-field">
  <div>
    <div class="db"></div>
    <%= render "posts/index", posts: @posts %>
  </div>
  <div>
    <div class="db"></div>
    <%= render "categories/index", categories: @categories %>
  </div>
</div>

<%= javascript_include_tag 'swiper' %>