<h1 class="title">A-Creation</h1>
<div class="devise-navbar">
  <% unless user_signed_in? %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: "nav-item" %>
    <%= link_to 'LOG IN', new_user_session_path, class: "nav-item" %>
  <% end %>
</div>
<div class="swiper">
  <div class="swiper-wrapper">
    <% if @top_images.nil? %>
      <% @top_images.each do |image|%>
        <div class="swiper-slide">
          <%= link_to user_path(image.user) do %>
          <%= attachment_image_tag image, :image, fallback: "no-image.jpg" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
      <div class="swiper-slide"><%= image_tag "no-image.jpg" %></div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="down-arrow">
  <%= link_to "#about-field" do %>
    <p>ABOUT</p>
    <i class="fas fa-chevron-down text-secondary"></i>
  <% end %>
</div>
<div id="about-field" class="about container-fluid">
  <div class="box">
    <div class="bg"></div>
    <div class="about-text">
      <h4>A-Cretion</h4>
      <p>
        text text text text text text text text ext text text text text text<br>
        text text text text text text text text ext text text text text text<br>
        text text text text text text text text ext text text text text text<br>
        text text text text text text text text ext text text text text text<br>
        text text text text text text text text ext text text text text text<br>
      </p>
    </div>
  </div>
  <div class="box">
    <div class="bg"></div>
    <div class="about-text">
      <h4>POSTS</h4>
      <p>
        投稿して発信しよう!<br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
      </p>
    </div>
    <div class="posts container-fluid">
      <div class="row">
      <%= render "posts/index", posts: @posts %>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="bg"></div>
    <div class="about-text">
      <h4>CATEGORIES</h4>
      <p>
        仲間と情報共有しよう!<br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
        text text text text text text text text <br>
      </p>
    </div>
    <div class="categories container-fluid">
      <table class="table">
        <tbody>
          <%= render "categories/index", categories: @categories %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag 'swiper' %>