<div class="search container">
  <h5>"<%= @word %>"検索結果</h5>
  <% if @range == 'user' %>
    <div class="users container">
      <table class="table">
        <tbody>
          <%= render "users/index", users: @users %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  <% elsif @range == 'post' %>
    <div class="posts container-fluid">
      <div class="row">
        <%= render "posts/index", posts: @posts %>
      </div>
      <%= paginate @posts %>
    </div>
  <% else %>
    <div class="categories container-fluid">
      <table class="table">
        <tbody>
          <%= render "categories/index", categories: @categories %>
        </tbody>
      </table>
      <%= paginate @categories %>
    </div>
  <% end %>
</div>