<%= render "layouts/errors", obj: @post %>
<%= form_with model:post, local:true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, rows: "15", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :タグ %>
    <%= f.text_field :name, value:@tag_list, placeholder: "複数タグ付けする場合、半角スペースをあけてください", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.attachment_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <% if action_name == "new" %>
      <%= f.submit "投稿", class: "btn"  %>
    <% else %>
      <%= f.submit "更新", class: "btn"  %>
    <% end %>
  </div>
<% end %>