<% posts.each do |post| %>
  <div class="col-lg-3 col-md-4 col-sm-5 d-flex justify-content-center">
    <div class="card mb-3" style="width: 15rem;">
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, fallback: "no-image.jpg",  class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <div id="bookmark-btn_<%= post.id %>">
          <%= render "bookmarks/bookmark-btn", post: post %>
        </div>
        <div class="tags" id="text-hidden-1">
          <%= render "posts/tag", post: post %>
        </div>
        <p class="card-text", id="text-hidden-2">
          <%= post.body %>
        </p>
        <div class="pt-3">
          <%= link_to user_path(post.user), class: "text-dark" do %>
            <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.jpg", class: "profile-image-sm" %>
            <%= post.user.name %>
          <% end %>
          <small class="date"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>