<div class="posts container-fluid">
  <div class="new-post">
    <%= link_to new_post_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="search-field">
  　<%= form_tag search_path, method: :get do %>
  　　<%= text_field_tag (:word) %>
  　　<%= hidden_field_tag 'range', 'post' %>
  　　<%= button_tag type: 'submit', class: 'btn btn-default' do%>
        <i class="fas fa-search"></i>
  　　<% end %>
  　<% end %>
  </div>
  <div class="row">
    <%= render "posts/index", posts: @posts %>
  </div>
  <%= paginate @posts %>
</div>