<% categories.each do |category| %>
  <tr>
    <td onclick='window.location="<%= '../categories/' + category.id.to_s %>"' role="link" class="pointer">
      <p class="category-text">
        <span><%= category.name %></span>
        <%= category.introduction %>
      </p>
    </td>
    <% if action_name != "top" %>
      <td id="category-btn_<%= category.id %>" class="category-btn">
        <%= render "categories/category-btn", category: category %>
      </td>
    <% end %>
  </tr>
<% end %>