<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= @category.name %>
      <div id="category-btn_<%= @category.id %>">
        <%= render "categories/category-btn", category: @category %>
      </div>
      <div id="category-images">
        <%= render "category_images/images", category_images: @category_images %>
      </div>
      <% if @category.category_user?(current_user)%>
        <%= form_with model:[@category, @category_image], local:true do |f| %>
          <%= f.attachment_field :image, class: "form-control" %>
          <%= f.submit "追加" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card">
        <%= simple_format @category.introduction %>
      </div>
      <%= link_to "編集", edit_category_path(@category.id) %>
    </div>
  </div>
</div>