<% category_images.each do |category_image| %>
  <div class="category_image">
    <%= attachment_image_tag category_image, :image, fallback: "nophoto_thumbnail.png", class: "image" %>
    <div id="favorite-btn_<%= category_image.id %>">
      <%= render "favorites/favorite-btn", category_image: category_image %>
    </div>
    <p id="fovorite-image-count_<%= category_image.id %>">いいね数:<%= category_image.favorites.count %></p>
  </div>
<% end %>